/* Common styles */
.mb20 {
  margin-bottom:  20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mlr {
  margin: 0 20%;
}
@media screen and (max-width: 550px) {
    .mlr{
        margin: 0 5%;
    }
    .message-input {
      width: 100% !important;
    }
}

/* Navbar styles */
.navbar {
  display: inline-flex;
}
.navbar img {
  height: 80px;
  width: 80px;
  background: grey;
}
.navbar span {
  font-size: 20px;
  padding: 25px;
}

/* descriptions */
.app-descp, .about-us {
  font-size: 15px;
  color: grey;
  margin: 0 5%;
  vertical-align: middle;
}
