.chat-component {
  text-align: center;
}
#chat-panel {
  padding: 5%;
  height: 500px;
}
.chat-history {
  max-height: 500px !important;
}

.message-input::placeholder {
  color:#bfbfbf;
}
.message-input {
  width: 80%;
  height: 40px;
  padding: 0 10px;
  outline-color: white;
  border-radius: 5px;
  color: #696767;
  border: 1px solid #d6d6d6;
}
.message-input:active, .message-input:focus {
  border: 2px solid #1ad443;
}
